@import "tailwindcss";

/* Hide scrollbar for all elements on all browsers, including mobile */
* {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
  display: none !important;
}

body {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}
